@import url('https://fonts.googleapis.com/css?family=roboto&display=swap');

* {
    border: 1px solid red;
    font-family: roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    color: white;
    padding: 0px 150px;
}


.right-side {
    display: flex;
    gap: 15px
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-section {
    background-color: #1F2937;
    /* display: flex; */
}

.hero-section p, a {
    font-size: 24px;
    color: #F9FAF8
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-section a {
    background-color: #3882F6;
    padding: 7px 30px;
    border-radius: 10px;
}